@use '../../styles/variables';
@use '../../styles/mixins';

.btn {
    padding: 1rem 2rem;
    display: inline-block;
    background-color: variables.$color-white;
    color: variables.$color-black;
    border: 1px solid transparent;
    font-weight: 500;
    cursor: pointer;

    &--primary {
        background-color: variables.$color-danger;
        color: variables.$color-white;

        &:hover {
            background: transparent;
            border-color: variables.$color-white;
        }
    }

    &--project {
        background-color: variables.$color-danger;
        color: variables.$color-white;

        &:hover {
            background: transparent;
            border-color: variables.$color-primary;
        }
    }

    &--social {
        background: variables.$color-bg2;
        padding: .75rem;
        border-radius: 50%;
        font-size: 0.9rem;
        transition: variables.$transition;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: variables.$color-bg1;
        }
    }

    &--filter {
        background: variables.$color-bg;
        color: variables.$color-white;
        border-color: variables.$color-white;
        border: 1px solid;

        &:hover {
            background: variables.$color-primary;
            border-color: variables.$color-white;
        }
    }
}
