@use '../../styles/variables';

.projects {
    margin-top: 21rem;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
}
