@use './variables';
@use './font-size.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    // overflow: hidden;
}

body {
    font-family: variables.$font-family-default;
    line-height: 1.7;
    color: variables.$color-white;
    background: variables.$color-bg;
}

a {
    color: variables.$color-white;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}
