//COLORS
$color-primary: #6c63ff;
$color-danger: #ff589b;
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.8);
$color-black: #131313;
$color-bg: #1f2641;
$color-bg1: #2e3267;
$color-bg2: #424890;

$container-width-lg: 76%;
$container-width-md: 90%;
$container-width-sm: 94%;

$transition: all 400ms ease;

$font-family-default: "Poppins";
