@use '../../styles/variables';

.more-info-dropdown-container {
    margin-bottom: 1rem;
    margin-top: -1rem;

    .more-info-content {
        overflow: hidden;

        &[data-show-more="false"] {
            height: 0;
        }

        &[data-show-more="true"] {
            height: fit-content;
            padding: 2rem 4rem;

            ul li {
                margin-bottom: 1rem;
            }
        }
    }

    .expand-dropdown {
        cursor: pointer;

        .expand-dropdown__text {
            text-decoration: underline;
            
            &:hover {
                color: variables.$color-primary;
                text-decoration-color: variables.$color-primary;
            }
        }
        
    }
}
